body{
    margin: 0px;
}
.header {
    padding-top: 61px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteiner{
    width: 1280px;
    margin: 0 auto;
}

.text-colored {
    color: #4bcaff;
}

/*---Logo--*/
/*---------*/
.header-logo{
    text-decoration: none;
    font-family: Arial, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 80px;
    color: rgba(0, 0, 0, 255);
}

.logo{
    text-align: left;
}

/*navbar menu*/
/*-------------*/

.navbar{
    margin-top: 45px;
}

.navbar-nav{
    text-align: center;
    background-color: #35444f;
    height: 69px;
    display: flex;
    justify-content: space-around;
    padding-left: 110px;
    padding-right: 50px;
}

.navbar-nav-item{
    margin-right: 83px;
    padding-top: 21px;
    padding-bottom: 21px;
    list-style-type: none;
    overflow:hidden;
    box-sizing: border-box;
}

.navbar-nav-item:hover{
    background-color: #222f3a;
    border-left: solid #818181 1px;
    border-right:solid #818181 1px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav-link{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 24px;
    text-align: left;
    overflow:hidden;
}

/*main-menu*/
/*-------*/

.about-us{
    margin-top: 51px;

}

.main-menu{
    display: flex;
}

.about-us-main{
    width: 344px;
    height: 399px;
    border: 1px solid #35444f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0px;
}

.about-us-main-item{
    list-style-type: none;
    overflow:hidden;
    padding-top: 28px;
    padding-bottom: 28px;
}

.about-us-main-item:hover{
    padding-left: 15px;
    background-color: #dbdbdb;
}
.about-us-main-link{
    text-decoration: none;
    color: #aab1b6;
    font-family: Arial, ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 29.99244px;
    text-align: left;
    padding-left: 42px;
}

.about-us-main-link:hover{
    color: #000;
}

.about-us-main-color{
    background-color: #dbdbdb;
    padding-left: 27px;
    padding-top: 28px;
    padding-bottom: 28px;
}

/*---Main-img----*/
/*-----------*/
.conteiner-main-img{
    padding-left: 51px;
}

.main-img-border{
    width: 885px;
    height: 529px;
    border: 1px solid #35444f;
}

.main-img{
    width: 320px;
    height: 381px;
    margin-top: 75px;
    margin-left: 297px;
    overflow:hidden;
}

.main-img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 1s;
}

/*----main-content-----*/
/*---------------*/
.content{
    margin-top: 50px;
}

.main-content{
    padding-left: 426px;
}

.text-conteiner{
    width: 820px;
}

.main-text{
    font-family: ﻿Arial, AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 18px;
    color: rgba(44, 44, 44, 255);
    text-align: left;
}

.text-indent{
    margin-bottom: 30px;
}
/*------FOOTER-----*/
/*-----------------*/
.footer{
    margin-top: 51px;
}

.navbar-nav-foooter{
    background-color: #b4b7ba;
    height: 69px;
    display: flex;
    justify-content: space-around;
}

.navbar-nav-footer-item:last-child{
    margin-left: 216px;
}


.navbar-nav-footer-item{
    padding-bottom: 21px;
    padding-top: 21px;
    list-style-type: none;
    overflow:hidden;
}


.navbar-nav-footer-link{
    text-decoration: none;
    color: #010101;
    font-family: Arial, AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 24px;
}

.navbar-nav-footer-link:hover{
    color: #4bcaff;
}

.text-decoration{
    font-family: ﻿Arial, AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 24px;
    color: rgba(1, 1, 1, 255);
    text-align: left;
}